<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="js/webticker/jquery.webticker.min.js"></script>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>CryptoCurrencies</title>

	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.css">



</head>

<body>

	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="#home">
						<img src="img/logo.png" alt="" title="Brand Logo" />
					</a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active">
							<a href="#home">Home</a>
						</li>
						<li>
							<a href="#feature">Feature</a>
						</li>
						<li>
							<a href="#price">Price</a>
						</li>
						<li>
							<a href="#blog">Blog</a>
						</li>
						<li>
							<a id="buttonSignUp" href="#signup-login" onclick="document.getElementById('signup-login').style.display='block'" style="width:auto;">Signup/Login</a>
							<a id="name" href="log-out"></a>
						</li>
					</ul>
				</nav>
				<!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- #header -->
	
	
	
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-start">
				<div class="banner-content col-lg-12 col-md-12">
					<h5 class="text-white text-uppercase">Currently Purchase Rate</h5>
					<h1 class="text-uppercase">$6999
					</h1>
					<p class="text-white pt-20 pb-20">
						Our future technology, Blockchain™ architecture, our savior Bitcoin!
					</p>
					<a target="_blank" href="https://www.google.com.tr/search?q=buy+bitcoin" class="primary-btn header-btn text-uppercase">Buy Bitcoin</a>
				</div>
			</div>
		</div>

	</section>
	<!-- End banner Area -->

	<!-- Start convert Area -->
	<!--<section class="convert-area" id="convert">
		<div class="container">
			<div class="convert-wrap">
				<div class="row justify-content-center align-items-center flex-column pb-30">
					<h1 class="text-white">The Currency Converter</h1>
					<p class="text-white">Who are in extremely love with eco friendly system.</p>
				</div>
				<div class="row justify-content-center align-items-start">
					<div class="col-lg-2 cols-img">
						<img class="d-block mx-auto" src="img/bitcoin.png" alt="">
					</div>
					<div class="col-lg-3 cols">
						<input type="text" name="feet" placeholder="feet" class="form-control mb-20">
						<input type="text" name="pounds" placeholder="pounds" class="form-control mb-20">
					</div>
					<div class="col-lg-3 cols">
						<input type="text" name="feet" placeholder="inches" class="form-control mb-20">
						<input type="text" name="pounds" placeholder="pounds" class="form-control mb-20">
						<a href="#" class="primary-btn header-btn text-uppercase mb-20">Calculate Your BMI</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End convert Area -->



	<!-- Start simple-services Area -->
	<section class="simple-services-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 single-services">
					<img src="img/s1.png" alt="">
					<a href="#">
						<h4 class="pt-30 pb-20">Get Paid through Bitcoin</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam quis nostrud exercitation.
					</p>
				</div>
				<div class="col-lg-4 single-services">
					<img src="img/s2.png" alt="">
					<a href="#">
						<h4 class="pt-30 pb-20">Bitcoin Exchange Analysis</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam quis nostrud exercitation.
					</p>
				</div>
				<div class="col-lg-4 single-services">
					<img src="img/s3.png" alt="">
					<a href="#">
						<h4 class="pt-30 pb-20">Send & Receive Bitcoin</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam quis nostrud exercitation.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End simple-services Area -->


	<!-- Start about Area -->
	<section class="aboutus-area">
		<div class="container-fluid">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6 aboutus-left no-padding">
					<div class="active-about-carusel">
						<img class="img-fluid item" src="img/about-img.jpg" alt="">
						<img class="img-fluid item" src="img/about-img.jpg" alt="">
						<img class="img-fluid item" src="img/about-img.jpg" alt="">
						<img class="img-fluid item" src="img/about-img.jpg" alt="">
					</div>
				</div>
				<div class="col-lg-6 aboutus-right no-padding">
					<img src="img/ico.png" alt="">
					<h1 class="pt-40 pb-30">
						Exchange Bitcoin
						<br> is not that tough
						<br> Anymore
					</h1>
					<p>
						inappropriate behavior is often laughed off as “boys will be boys, women face higher conduct standards especially in the
						workplace. That’s why it’s crucial that, as women, our behavior on the jobs beyond reproach. Lorem ipsum dolor sit
						amet, consectetur adipicin elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
						veniam.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End about Area -->

	<!-- Start service Area -->
	<section class="service-area section-gap" id="feature">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-9 pb-40 header-text">
					<h1>Why choose us during purchase CryptoCurrencies</h1>
					<p>
						Who are in extremely love with eco friendly system.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-user"></span>Expert Technicians</h4>
						<p>
							Leaders in the field of cryptocurrencies
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-license"></span>Professional Service</h4>
						<p>
							Personal assistance is provided by our knowledgeable advisors
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-phone"></span>Great Support</h4>
						<p>
							We offer solutions for your 24/7 problems
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-rocket"></span>Technical Skills</h4>
						<p>
							The technical support team is always with you
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-diamond"></span>Highly Recomended</h4>
						<p>
							The preference of experts and interested
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-service">
						<h4>
							<span class="lnr lnr-bubble"></span>Positive Reviews</h4>
						<p>
							We are in the process of being a guarantee of your satisfaction
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End service Area -->


	<!-- Start stat Area -->
	<section class="stat-area section-gap">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6 stat-left">
					<img class="img-fluid" src="img/chart.png" alt="">
				</div>
				<div class="col-lg-6 stat-right">
					<h1>Ups and Downs
						<br> of Bitcoin (Realtime)</h1>
					<p class="pt-20 pb-20">
						inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the
						workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior
						is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s
						why it’s crucial that.
					</p>
					<a href="#" class="primary-btn header-btn text-uppercase">View Details</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End stat Area -->


	<!-- Start callaction Area -->
	<section class="callaction-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<h1 class="text-white">Huge Transaction in last Week</h1>
					<p class="text-white">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation.
					</p>
					<a href="#" class="primary-btn">Buy Bitcoin Now!</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End callaction Area -->


	<!-- Start price Area -->
	<section class="price-area pt-100" id="price">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Purchase whatever you want</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="single-price no-padding">
						<div class="price-top">
							<h4>01 Ripple</h4>
						</div>
						<p>
							Who are in extremely love with
							<br> eco friendly system.
						</p>
						<div class="price-bottom">
							<h1>
								<span>$</span> 7999</h1>
							<a href="#" class="primary-btn header-btn">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-price no-padding">
						<div class="price-top">
							<h4>01 Ethereum</h4>
						</div>
						<p>
							Who are in extremely love with
							<br> eco friendly system.
						</p>
						<div class="price-bottom">
							<h1>
								<span>$</span> 9999</h1>
							<a href="#" class="primary-btn header-btn">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-price no-padding">
						<div class="price-top">
							<h4>01 Bitcoin</h4>
						</div>
						<p>
							Who are in extremely love with
							<br> eco friendly system.
						</p>
						<div class="price-bottom">
							<h1>
								<span>$</span> 5999</h1>
							<a href="#" class="primary-btn">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End price Area -->


	<!-- Start blog Area -->
	<section class="blog-area section-gap" id="blog">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-60 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Latest Posts from our Blog</h1>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b1.jpg" alt="">
					</div>
					<div class="desc">
						<a href="#">
							<h4>IOTA: Reinventing: Internet Of Things</h4>
						</a>
						<p>
							The focus of these articles has been on the blockchain, reinventing various industries, and disrupting the true idea of what
							is possible in each. I have to be honest, when I first started writing about blockchain several years ago, I had no
							idea it would reach the level it has regarding price and influence. I believed then that it had an inherently handicapped
							state due its lack of regulation and ability to scale without slowing down, and I still stand by this and believe
							it’s one of the major hurdles the technology faces.
						</p>
						<div class="user d-flex flex-row">
							<div>
								<img class="img-fluid" src="img/b4.jpg" alt="">
							</div>
							<div class="meta">
								<h6>Belle Beck</h6>
								<p>January 18th, 2018 at 17.21 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b2.jpg" alt="">
					</div>
					<div class="desc">
						<a href="#">
							<h4>Is XRP a Security?</h4>
						</a>
						<p>
							Perhaps the largest yet to draw this complaint is XRP, the third-largest cryptocurrency by value and the technology that
							powers just one of several enterprise banking products offered by San Francisco startup Ripple. Earlier this year,
							XRP broke out of its sideways trading, moving from around $0.30 to nearly $4. While the price soon after receded,
							interest in Ripple is larger than ever, with a whole new captured audience cheering on its announcements and partnerships.
						</p>
						<div class="user d-flex flex-row">
							<div>
								<img class="img-fluid" src="img/b5.jpg" alt="">
							</div>
							<div class="meta">
								<h6>Harriet Barrett</h6>
								<p>January 18th, 2018 at 17.21 </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 single-blog">
					<div class="thumb">
						<img class="img-fluid" src="img/b3.jpg" alt="">
					</div>
					<div class="desc">
						<a href="#">
							<h4>Ethereum Classic Is Aiming To Align With Ethereum?</h4>
						</a>
						<p>
							The DAO attack recently resulted in the Ethereum hard fork, the significance of which is still lingering and will continue
							to do so for a long time. The reason behind this is that this attack resulted in the bifurcation of the Ethereum blockchain.
							The newly formed chain is known Ethereum while the old chain that did not embrace was renamed as Ethereum Classic
							(ETC). The two coins the original chain remained incompatible and lacked upgradation.
						</p>
						<div class="user d-flex flex-row">
							<div>
								<img class="img-fluid" src="img/b6.jpg" alt="">
							</div>
							<div class="meta">
								<h6>Fannie Simmons</h6>
								<p>January 18th, 2018 at 17.21 </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End blog Area -->

	<!-- Start signup/login Area -->
	<div class="modal" id="signup-login">
		<div class="form">
			<div class="imgcontainer">
				<span onclick="document.getElementById('signup-login').style.display='none'" class="close" title="Close Modal">&times;</span>
			</div>

			<ul class="tab-group">
				<li class="tab active">
					<a href="#signup">Sign Up</a>
				</li>
				<li class="tab">
					<a href="#login">Log In</a>
				</li>
			</ul>

			<div class="tab-content">
				<div id="signup">
					<h1>Sign Up for Free</h1>
					<form action="#" method="post">
						<div class="top-row">
							<div class="field-wrap">
								<label>First Name
									<span class="req">*</span>
								</label>
								<input type="text" name="firstname" required autocomplete="off" />
							</div>
							<div class="field-wrap">
								<label>Last Name
									<span class="req">*</span>
								</label>
								<input type="text" name="lastname" required autocomplete="off" />
							</div>
						</div>
						<div class="field-wrap">
							<label>Email Address
								<span class="req">*</span>
							</label>
							<input type="email" name="e_mail" required autocomplete="off" />
						</div>
						<div class="field-wrap">
							<label>Set A Password
								<span class="req">*</span>
							</label>
							<input type="password" name="password" required autocomplete="off" />
						</div>
						<button type="submit" class="button signup" />Get Started</button>
					</form>
				</div>

				<div id="login">
					<h1>Welcome Back!</h1>
					<form method="post">
						<div class="field-wrap">
							<label>Email Address
								<span class="req">*</span>
							</label>
							<input type="email" id="e_mail" name="e_mail" required autocomplete="off" />
						</div>
						<div class="field-wrap">
							<label>Password
								<span class="req">*</span>
							</label>
							<input type="password" id="password" name="password" required autocomplete="off" />
						</div>
						<p class="forgot">
							<a href="#">Forgot Password?</a>
						</p>
						<input type="button" class="button login" onclick="Login()" value="Log in" />
					</form>
				</div>
			</div>
			<!-- tab-content -->
		</div>
		<!-- /form -->

	</div>

	<script>
		// Get the modal
		var modal = document.getElementById('signup-login');

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function (event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>

<script>
	function Login() {
   
      var mail = $("#e_mail").val();
      var pass = $("#password").val();
    
      if (mail == "" && pass == "") {
        $("#e_mail").focus();
      }
      else if (pass == "") {
        $("#password").focus();
      }
      if (pass != "" && mail != "") {

        $.ajax({

          'type': "POST",
          'dataType': 'json',
          'url': "/login",
          'data': { e_mail: mail, password: pass },
          'success': function (data) {
			var obj = jQuery.parseJSON(JSON.stringify(data));
			$('#buttonSignUp').remove();
			$('#name').text(obj.name);
		
			$('#signup-login').remove();
            console.log(obj);
          }
        });
  
      }

   
  }
</script>

	<!-- End signup/login Area -->
	<div class="tickercontainer" style="float: left;width:-15px;height:34px;">
		<div class="mask">
			<ul id="WebTicker">
				<li class="ticker-spacer" style="float: left;width:-15px;height:34px;">
				</li>
				<li id="bitcoin">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="BTC" alt="BTC" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/btc.svg">
						</span>
						<span class="name">Bitcoin(BTC)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>9260.25</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-1.78%</span>
					</div>
				</li>
				<li id="ethereum">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="ETH" alt="ETH" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/eth.svg">
						</span>
						<span class="name">Ethereum(ETH)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>750.631</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-0.65%</span>
					</div>
				</li>
				<li id="ripple">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="XRP" alt="XRP" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/xrp.svg">
						</span>
						<span class="name">Ripple(XRP)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>0.818861</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-2.35%</span>
					</div>
				</li>
				<li id="bitcoin-cash">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="BCH" alt="BCH" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/bch.svg">
						</span>
						<span class="name">Bitcoin Cash(BCH)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>1594.78</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-4.18%</span>
					</div>
				</li>
				<li id="litecoin">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="LTC" alt="LTC" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/ltc.svg">
						</span>
						<span class="name">Litecoin(LTC)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>159.725</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-3.63%</span>
					</div>
				</li>
				<li id="cardano">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="ADA" alt="ADA" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/ada.svg">
						</span>
						<span class="name">Cardano(ADA)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>0.329994</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-2.57%</span>
					</div>
				</li>
				<li id="iota">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="MIOTA" alt="MIOTA" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/miota.svg">
						</span>
						<span class="name">IOTA(MIOTA)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>2.42482</span>
						<span class="changes up">
							<i class="fa fa-arrow-up" aria-hidden="true"></i>6.99%</span>
					</div>
				</li>
				<li id="monero">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="XMR" alt="XMR" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/xmr.svg">
						</span>
						<span class="name">Monero(XMR)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>225.426</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-3.72%</span>
					</div>
				</li>
				<li id="dash">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="DASH" alt="DASH" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/dash.svg">
						</span>
						<span class="name">Dash(DASH)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>443.274</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-4.1%</span>
					</div>
				</li>
				<li id="nem" class="last">
					<div class="coin-container">
						<span class="ccpw_icon">
							<img id="XEM" alt="XEM" src="https://globalcoinreport.com/wp-content/plugins/cryptocurrency-price-ticker-widget//assets/coin-logo/xem.svg">
						</span>
						<span class="name">NEM(XEM)</span>
						<span class="price">
							<i class="fa fa-usd" aria-hidden="true"></i>0.381513</span>
						<span class="changes down">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>-3.43%</span>
					</div>
				</li>
			</ul>
			<span class="tickeroverlay-left">&nbsp;</span>
			<span class="tickeroverlay-right">&nbsp;</span>
		</div>
	</div>


	<script>
		$("#WebTicker").webTicker({
			height:'40px',
			speed: '75',
		});
	</script>



	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">About Us</h4>
						<p>
							Our future technology, Blockchain™ architecture, our savior Bitcoin
						</p>
					</div>
				</div>
				<div class="col-lg-6  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">Contact Us</h4>
						<p>
							<a href="mailto:karaeralpaslan@gmail.ccom?Subject=Hello%20again" target="_top">Send Mail to AlpaRslan</a>
						</p>
						<p>
							<a href="mailto:bcberkaycelik@gmail.com?Subject=Hello%20again" target="_top">Send Mail to Berkay</a>
						</p>
						<div class="d-flex flex-row" id="mc_embed_signup">
							<!---	<form class="navbar-form" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get">
								<div class="input-group add-on">
									<input class="form-control" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
									 required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">-->
						</div>
						<div class="input-group-btn">
							<button class="genric-btn">
								<span class="lnr lnr-arrow-right"></span>
							</button>
						</div>
					</div>
					<div class="info mt-20"></div>
					</form>
				</div>
			</div>
		</div>
		</div>

		</div>
	</footer>
	<!-- End footer Area -->

	<script src="js/index.js"></script>
	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>
</body>

</html>